<html>
    <head>
        <meta http-equiv="Refresh" content="1; url=YOUR_URL" />
    </head>
    <body>
        <p>Redirecting to OTRS... If you stay here, just click on <a href="YOUR_URL">this</a>.</p>
    </body>
</html>
